<h4>分类目录</h4>
<ul class="nav nav-pills nav-stacked">
    <!--<li class="active">-->
    <li>
        <a href="#">
            <span class="badge pull-right">{{ site.categories.linux|size }}</span>
            linux
        </a>
    </li>
    <li>
        <a href="#">
            <span class="badge pull-right">{{ site.categories.shell|size }}</span>
            shell
        </a>
    </li>
    <li>
        <a href="#">
            <span class="badge pull-right">{{ site.categories.python|size }}</span>
            python
        </a>
    </li>
    <li>
        <a href="#">
            <span class="badge pull-right">{{ site.categories.ansible|size }}</span>
            ansible
        </a>
    </li>
    <li>
        <a href="#">
            <span class="badge pull-right">{{ site.categories.zabbix|size }}</span>
            zabbix
        </a>
    </li>
    <li>
        <a href="#">
            <span class="badge pull-right">{{ site.categories.salt|size }}</span>
            salt
        </a>
    </li>
</ul>


<h4>RECENT POSTS</h4>
<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">{{ site.categories.linux|size }}</span>
        linux
    </li>
    <li class="list-group-item">
        <span class="badge">{{ site.categories.shell|size }}</span>
        shell
    </li>
    <li class="list-group-item">
        <span class="badge">{{ site.categories.python|size }}</span>
        python
    </li>
    <li class="list-group-item">
        <span class="badge">{{ site.categories.ansible|size }}</span>
        ansible
    </li>
    <li class="list-group-item">
        <span class="badge">{{ site.categories.zabbix|size }}</span>
        zabbix
    </li>
    <li class="list-group-item">
        <span class="badge">{{ site.categories.salt|size }}</span>
        salt
    </li>
</ul>
