<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>sapser's blog</h1>
        <p>博客建设中...</p>
      </div>
    </div>

    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li><a href="/">Home</a></li>
        <li class="disabled"><a href="/">About</a></li>
      </ul>

      <div class="row">
        <div class="col-md-3">
          {% include sidebar.html %}
        </div>
        <div class="col-md-9">
          {{ content }}
        </div>
      </div> <!-- <div class="row"> -->
    </div> <!-- <div class="container"> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>

</html>
