---
layout: default
---

<h1>{{ page.title }}</h1>
<p>
    {{ page.date | date: "%b %-d, %Y" }}
    {% for category in page.categories %} • {{ category }}{% endfor %}
</p>

<br />

{{ content }}

<br />
<br />
{% if page.previous != nil %}
    <p>上一篇：<a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
{% endif %}

{% if page.next != nil %}
    <p>下一篇：<a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
{% endif %}
<br />
<br />

<!-- 多说评论框，只在博文下显示评论框，所以放在这里 -->
<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url | prepend: site.baseurl }}"></div>
<!-- 多说评论框 end -->
